[submodule "nordic/sdk"]
	path = nordic/sdk
	url = git@git.interoberlin.de:/home/git/repositories/matthias/nRF51-SDK-Nordic.git
[submodule "nordic/softdevice"]
	path = nordic/softdevice
	url = git@git.interoberlin.de:/home/git/repositories/matthias/nRF51-SoftDevice.git
[submodule "debug"]
	path = debug
	url = git@github.com:matthiasbock/nRF51-debug.git
