[submodule "debug"]
	path = debug
	url = git@github.com:matthiasbock/nRF51-debug.git
[submodule "nordic"]
	path = nordic
	url = git@github.com:matthiasbock/nRF51-nordic.git
[submodule "sdk"]
	path = sdk
	url = git@github.com:matthiasbock/nRF51-sdk.git
[submodule "arm"]
	path = arm
	url = git@github.com:matthiasbock/nRF51-arm.git
